common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org/">
    <!--<xsd:complexType name="NewComplexTypeasdasd"></xsd:complexType>-->
    <xsd:simpleType name="OrderNumberType">
		<xsd:annotation>
			<xsd:documentation>
				Номер заявления [A-Z]{5}-\d{8} ОВК-Порядковый номер
				формируется в ОВК при отправке изготовителю карт, затем
				участвует во всех стадиях информационного обмена
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="14"/>
			<xsd:pattern value="[A-Z]{5}-\d{8}"/>
		</xsd:restriction>
	</xsd:simpleType><xsd:simpleType name="CardNumberType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="16"/>
			<xsd:pattern value="RU[DMPK][A-Z0-9]{4}\d{5}[A-Z0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType><xsd:simpleType name="InnType">
		<xsd:annotation>
			<xsd:documentation>
				ИНН юридического или физического лица РФ
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
			<xsd:pattern value="\d{10}|\d{12}"/>
			<xsd:minLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType><xsd:simpleType name="OgrnType">
		<xsd:annotation>
			<xsd:documentation>
				ОГРН (основной государственный регистрационный номер)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType><xsd:simpleType name="SnilsType">
		<xsd:annotation>
			<xsd:documentation>СНИЛС</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}-\d{3}-\d{3} \d{2}"/>
			<xsd:length value="14"/>
		</xsd:restriction>
	</xsd:simpleType><xsd:simpleType name="KppType">
		<xsd:annotation>
			<xsd:documentation>КПП (код причины постановки на учет)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType><xsd:simpleType name="BoolType">
		<xsd:annotation>
			<xsd:documentation>Двоичное значение: 0 или 1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean">
			<xsd:pattern value="[0-1]{1}"/>
		</xsd:restriction>
	</xsd:simpleType><xsd:complexType name="MessageInfoType">
        <xsd:sequence>
            <xsd:element name="MessageId" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation> идентификатор сообщения от поставщика сообщения (например
                        UUID) </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MessageDate" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation> дата сообщения </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MessageOwn" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation> поставщик сообщения </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[A-Z]{5}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MessageRecipient" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation> получатель сообщения </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[A-Z]{5}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType><xsd:complexType name="MessageConfirmationType">
		<xsd:sequence>
			<xsd:element name="MessageInfo" type="MessageInfoType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						пойманное сообщение, если MessageRecipient не
						был заполнен в ответе он заполняется всегда кем
						по факту получено
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReceivedDate" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						дата получения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType><xsd:complexType name="PackageInfoType">
        <xsd:annotation>
            <xsd:documentation>Информация о пакете</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PackageNumber" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation> Номер пакета [A-Z]{5}-\d{8} ОВК-Порядковый номер формируется
                        в ОВК при отправке изготовителю карт, затем участвует во всех стадиях
                        информационного обмена </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="14"/>
                        <xsd:pattern value="[A-Z]{5}-\d{8}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PackageDate" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation> Дата отправки пакета </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OvkId" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation> Идентификатор ОВК, разрядность 5 символов, ALPHA (т.е. любой
                        заглавный символ в латинице), например FLGMN </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="5"/>
                        <xsd:pattern value="[A-Z]{5}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CardManufacturerId" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation> Идентификатор изготовителя карт, разрядность 5 символов,
                        ALPHA (т.е. любой заглавный символ в латинице), например ATLAS
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="5"/>
                        <xsd:pattern value="[A-Z]{5}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Priority" minOccurs="0" maxOccurs="1" type="xsd:int"> </xsd:element>
        </xsd:sequence>
    </xsd:complexType><xsd:complexType name="CardStatusChangeNotificationType">
		<xsd:annotation>
			<xsd:documentation>
				Уведомление о изменении статуса карты
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CardNumber" type="CardNumberType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="CardStatus" minOccurs="1" maxOccurs="1">
				<xsd:annotation>

					<!--
						Статусы карты в соотвествии с регламентом:

						Статус              Комментарий                                                                 Идентификатор
						=====================================================================================================================================================
						"0. Зарезервирована"    Начальное состояние в перечне (БД)                                          [не является предметом уведомлений]
						"1. Учтена"             Для КТ присвоен номер и срок действия, выпущен сертификат.                  cardReserved
						"2. Не изготавливалась" Производство карты отмененено по каким-либо причинам                        cardSuspended
						"3. Выпущена"           От Производителя получено сообщение о выпущенной карте тахографа.           cardPersonalized
						"4. Активна"            От Производителя(?) получено сообщение о передаче КТ получателю карты.      cardGivenToCardHolder
						"5. Утрачена"           От Производителя получен запрос на присвоение номера/срока                  cardLost
						действия КТ и выпуск сертификата по заявлению со справкой об утере/краже.
						"6. Недействительна"    От Производителя получено сообщение об обнаружении неисправимого брака,     cardVoid
						деактивации текущей карты или истек срок действия КТ
						(автоматическое изменение статуса).
						"7. Утилизирована"      От Производителя получено сообщение об утилизации КТ.                       cardRecycled

						~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
						Примечания:
						Пространство статусов карты уже, чем пространство статусов заявлений, например - у карты отсутствует статус "Отгружена" и пр.
						Предлагается: при просмотре детальной информации о карте дополнять ее статус статусом заявления, например:
						Статус карты:       зарезервирована
						Статус заявления:   отправлено в УЦ
						и т.п.

						~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
						статусы, не вошедшие в новый регламент, но существующие в текущей системе (mapping с новое пространство состояний):
						~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
						SendPersonalisation         отправлена на изготовление              cardReserved
						Personalized                изготовлена                             cardPersonalized
						NotPersonalized             Не изготовлена                          cardSuspended
						SendAgent                   Отправлена в ОВК                            [*obsolete status*]
						SendCustomer                Отправлена(выдана) потребителю          cardGivenToCardHolder
						SendUtilized                Отправлена на утилизацию                    [*obsolete status*]
						Utilized                    Утилизирована                           cardRecycled
						Recall                      Отозвана                                cardVoid
						Lost                        Утеряна                                 cardLost
						=====================================================================================================================================================

					-->
					<xsd:documentation>
						Примечание: в (скобках) указано прежнее значение
						статуса.

						cardReserved (SendPersonalisation) "1. Учтена"

						cardSuspended (NotPersonalized) "2. Не
						изготавливалась"

						cardPersonalized (Personalized) "3. Выпущена"

						cardGivenToCardHolder (SendCustomer) "4.
						Активна"

						cardLost (Lost) "5. Утрачена"

						cardVoid (Recall) "6. Недействительна"

						cardRecycled (Utilized) "7. Утилизирована"
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="cardReserved"/>
						<xsd:enumeration value="cardSuspended"/>
						<xsd:enumeration value="cardPersonalized"/>
						<xsd:enumeration value="cardGivenToCardHolder"/>
						<xsd:enumeration value="cardLost"/>
						<xsd:enumeration value="cardVoid"/>
						<xsd:enumeration value="cardRecycled"/>

						<!-- obsolete but still supported statuses -->

						<xsd:enumeration value="SendPersonalisation"/>
						<xsd:enumeration value="Personalized"/>
						<xsd:enumeration value="NotPersonalized"/>
						<!-- <xsd:enumeration value="SendAgent"/> -->
						<xsd:enumeration value="SendCustomer"/>
						<!-- <xsd:enumeration value="SendUtilized"/> -->
						<xsd:enumeration value="Utilized"/>
						<xsd:enumeration value="Recall"/>
						<xsd:enumeration value="Lost"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CardStatusChangeDate" type="xsd:date" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Дата изменения статуса
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StateChangeReason" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Причина изменения статуса
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType><xsd:complexType name="CertInfoType">
		<xsd:annotation>
			<xsd:documentation>
				Информация о сертификате
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CertSerialNumber" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Данные сертификата: Serial number
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertIssuer" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Данные сертификата: Issuer
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertValidFrom" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Данные сертификата: Valid From
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertValidTo" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Данные сертификата: Valid To
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertSubject" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Данные сертификата: Subject
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertThumbprint" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Данные сертификата: Thumbprint
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType><xsd:complexType name="CardInfoType">
		<xsd:annotation>
			<xsd:documentation>
				Информация о карте тахографа
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CardNumber" type="CardNumberType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IssueDate" type="xsd:date" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Дата начала действия
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Expiration" type="xsd:date" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Дата окончания действия
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertInfo" type="CertInfoType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Информация о сертификате
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType><xsd:complexType name="AttachmentsType">
		<xsd:annotation>
			<xsd:documentation>
				Приложение к заявлению
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AttachmentName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Имя файла вложения
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1024"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AttachmentType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Тип прикрепленного документа Photo - фотография
						Signature - изображение подписи Passport - копия
						паспорта DriverLicense - копия водительского
						удостоверения CardOrder - копия заявления на
						выдачу карты тахографа Other - иной тип
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Photo"/>
						<xsd:enumeration value="Signature"/>
						<xsd:enumeration value="Passport"/>
						<xsd:enumeration value="DriverLicense"/>
						<xsd:enumeration value="CardOrder"/>
						<xsd:enumeration value="Other"/>
						<xsd:enumeration value="All-in-one"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="FileFormat" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Идентификатор формата прикрепленного документа
						DOC - Microsoft Word XLS - Microsoft Excel PDF -
						Adobe PDF JPG - jpg PNG - png XML - xml OTHER -
						иной формат(определяется по имени файла)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="DOC"/>
						<xsd:enumeration value="XLS"/>
						<xsd:enumeration value="PDF"/>
						<xsd:enumeration value="JPG"/>
						<xsd:enumeration value="PNG"/>
						<xsd:enumeration value="XML"/>
						<xsd:enumeration value="OTHER"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="Description" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Пользовательское описание файла вложения
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1024"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Body" type="xsd:base64Binary">
				<xsd:annotation>
					<xsd:documentation>
						Данные вложения в двоичном виде
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType><xsd:complexType name="Attachments_v2Type">
		<xsd:annotation>
			<xsd:documentation>
				Приложение к заявлению
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AttachmentType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Тип прикрепленного документа Photo - фотография
						Signature - изображение подписи Passport - копия
						паспорта DriverLicense - копия водительского
						удостоверения CardOrder - копия заявления на
						выдачу карты тахографа Other - иной тип
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Photo"/>
						<xsd:enumeration value="Signature"/>
						<xsd:enumeration value="Passport"/>
						<xsd:enumeration value="DriverLicense"/>
						<xsd:enumeration value="CardOrder"/>
						<xsd:enumeration value="Other"/>
						<xsd:enumeration value="All-in-one"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="FileFormat" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Идентификатор формата прикрепленного документа
						DOC - Microsoft Word XLS - Microsoft Excel PDF -
						Adobe PDF JPG - jpg PNG - png XML - xml OTHER -
						иной формат(определяется по имени файла)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="DOC"/>
						<xsd:enumeration value="XLS"/>
						<xsd:enumeration value="PDF"/>
						<xsd:enumeration value="JPG"/>
						<xsd:enumeration value="PNG"/>
						<xsd:enumeration value="XML"/>
						<xsd:enumeration value="OTHER"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="Description" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Пользовательское описание файла вложения
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1024"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Body" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Данные вложения в двоичном виде
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:base64Binary">
						<xsd:maxLength value="4000000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    
</xsd:schema>
