EstrPackage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.example.org/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org/">

	<xsd:element name="EstrPackage" type="EstrPackageType" />

	<xsd:complexType name="EstrPackageType">
		<xsd:annotation>
			<xsd:documentation>Пакет информационного обмена между ФБУ, ОВК и
				изготовителем ЕСТР карт</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PackageInfo" type="PackageInfoType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Информация о пакете</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="Order" type="OrderType" minOccurs="1"
					maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Заявление на выдачу ЕСТР карт:
							Отсылается из ОВК изготовителю карт, при этом формируется уникальный номер
							заявления,
							затем изготовителем после проверки данных на возможность изготовления,
							отсылается в ФБУ для формирования номера карты
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CardStatusChangeNotification" type="CardStatusChangeNotificationType"
					minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Уведомление о изменении статусов карт
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="EstrPackageStatusChangeNotification"
					type="EstrPackageStatusChangeNotificationType" minOccurs="1"
					maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Уведомление о изменении статуса пакета
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="OrderStatusChangeNotification" type="OrderStatusChangeNotificationType"
					minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Уведомление о изменении статусов заявлений:
							Отсылается изготовителем в ОВК в случае отказа на этапе проверки
							данных либо отказа ФБУ,
							при этом заполняется причина отказа
							Из ФБУ изготовителю карт в случае присвения номеров карт,
							при этом заполняется информация о номерах картах и сроках действия
							карт
							Из ФБУ изготовителю карт в случае отказа на этапе проверки данных,
							при этом заполняется причина отказа
							От изготовителя в ФБУ и ОВК в случае выпуска карт,
							при этом
							заполняется вся информация о картах
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="PackageInfoType">
		<xsd:annotation>
			<xsd:documentation>Информация о пакете</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="PackageNumber" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер пакета [A-Z]{5}-\d{8} ОВК-Порядковый номер
						формируется
						в ОВК при отправке изготовителю карт, затем участвует
						во всех стадиях
						информационного обмена
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="14" />
						<xsd:pattern value="[A-Z]{5}-\d{8}" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>


			<xsd:element name="OvkId" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Идентификатор ОВК, разрядность 5 символов, ALPHA
						(т.е. любой
						заглавный символ в латинице)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="5" />
						<xsd:pattern value="[A-Z]{5}" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="CardManufacturerId" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Идентификатор изготовителя карт, разрядность 5
						символов,
						ALPHA (т.е. любой заглавный символ в латинице)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="5" />
						<xsd:pattern value="[A-Z]{5}" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="PackageDate" type="xsd:date"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата отправки пакета</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Priority" minOccurs="0" maxOccurs="1"
				type="xsd:int">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="OrderType">
		<xsd:annotation>
			<xsd:documentation>Заявление на выдачу ЕСТР карты</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OrderNumber" type="OrderNumberType"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер заявления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="OrderDate" type="xsd:date" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата подачи заявления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


			<xsd:element name="OrderKind" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Вид заявления:
						OrderNew - Получение новой карты
						OrderReNew - Замена в связи с истечением срока действия
						OrderReplace - Другая причина замены
						OrderPersonChange - Замена в связи и изменением перс. данных
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="OrderNew" />
						<xsd:enumeration value="OrderReNew" />
						<xsd:enumeration value="OrderReplace" />
						<xsd:enumeration value="OrderPersonChange" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>


			<xsd:element name="OrderReplaceReason" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Причина замены карты, заполняется если
						OrderKind=OrderReplace</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


			<xsd:element name="OrderCardCount" type="xsd:int"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Количество карт</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:choice>
				<xsd:element name="DriverOrder" type="DriverOrderType"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation> Данные заявления на выдачу карты водителя
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CompanyOrder" type="OrgOrderType"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation> Данные заявления на выдачу карт предприятия
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ServiceOrder" type="OrgOrderType"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation> Данные заявления на выдачу карт мастерской
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SupervisorOrder" type="SupervisorOrderType"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation> Данные заявления на выдачу карты контролера
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="Attachment" type="AttachmentsType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> Вложения за исключением фотографии/изображения
						подписи
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="CardStatusChangeNotificationType">
		<xsd:annotation>
			<xsd:documentation> Уведомление о изменении статуса карты
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CardNumber" type="CardNumberType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="CardStatusChangeDate" type="xsd:date"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата изменения статуса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="CardStatus" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Новый статус карты:
						NotPersonalized - не
						изготовлена
						Personalized - изготовлена
						SendCustomer -
						Отправлена(выдана) потребителю
						Recall - Отозвана
						Lost - Утеряна
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="NotPersonalized" />
						<xsd:enumeration value="Personalized" />
						<xsd:enumeration value="SendCustomer" />
						<xsd:enumeration value="Recall" />
						<xsd:enumeration value="Lost" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="StateChangeReason" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Причина изменения статуса </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="EstrPackageStatusChangeNotificationType">
		<xsd:annotation>
			<xsd:documentation> Уведомление о изменении статуса пакета
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="EstrPackageStatusChangeDate" type="xsd:date"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата изменения статуса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="EstrPackageStatus" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Новый статус пакета:
						FBUReject - отклонено ФБУ, при этом заполняется причина отклонения
						CardManReject - отклонено производителем карт, при этом
						заполняется причина отклонения
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="FBUReject" />
						<xsd:enumeration value="CardManReject" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="StateChangeReason" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Причина изменения статуса </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="OrderStatusChangeNotificationType">
		<xsd:annotation>
			<xsd:documentation> Уведомление о изменении статуса заявления
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OrderNumber" type="OrderNumberType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Номер заявления </xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="OrderStatusChangeDate" type="xsd:date"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата изменения статуса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="OrderStatus" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Новый статус заявления:
						FBURegistered - зарегистрировано в перечнях ФБУ, при этом заполняется список
						CardInfo, с информацией о номерах карт и началом/окончанием их
						действия
						FBUReject - отвергнуто ФБУ, при этом заполняется причина
						отклонения
						Personalized - карты изготовлены, при этом полностью
						заполняется CardInfo с информацией о
						изготовленных картах
						PersonalizedPart - карты частично изготовлены, при этом
						полностью
						заполняется CardInfo с информацией о изготовленных картах
						NotPersonalized - Отвергнуто изготовителем на этапе проверки
						данных, при
						этом заполняется причина отклонения
						appAccepted - принято к обработке
						appCheckData - проверка корректности данных
						appInvalidData - отклонено (некорректные данные)
						appConfirmed -
						данные проверены
						appMfrSentToFbu - отправлено в ФБУ
						appFbuReceived -
						получено в ФБУ
						appFbuProcessing - взято в работу в ФБУ
						appFbuRejected - отклонено ФБУ
						appMfrDone - исполнено ФБУ
						appDeleted - удалено (помечено как удаленное)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<!-- obsolete statuses -->
						<xsd:enumeration value="FBURegistered" />
						<xsd:enumeration value="FBUReject" />
						<xsd:enumeration value="Personalized" />
						<xsd:enumeration value="PersonalizedPart" />
						<xsd:enumeration value="NotPersonalized" />
						<!-- new statuses -->
						<xsd:enumeration value="appAccepted" />
						<xsd:enumeration value="appCheckData" />
						<xsd:enumeration value="appInvalidData" />
						<xsd:enumeration value="appConfirmed" />

						<xsd:enumeration value="appMfrSentToFbu" />
						<xsd:enumeration value="appFbuReceived" />
						<xsd:enumeration value="appFbuProcessing" />
						<xsd:enumeration value="appFbuRejected" />

						<xsd:enumeration value="appMfrDone" />
						<xsd:enumeration value="appDeleted" />

					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="CardInfo" type="CardInfoType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> Информация о картах: заполняется ФБУ при
						отправке выписки или
						производителем карт при отпрвке уведомления о
						производстве
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StateChangeReason" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Причина изменения статуса </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="CertInfoType">
		<xsd:annotation>
			<xsd:documentation>Информация о сертификате</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CertSerialNumber" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные сертификата: Serial number
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertIssuer" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные сертификата: Issuer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertValidFrom" type="xsd:dateTime"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные сертификата: Valid From
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertValidTo" type="xsd:dateTime"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные сертификата: Valid To</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertSubject" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные сертификата: Subject</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertThumbprint" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные сертификата: Thumbprint
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CardInfoType">
		<xsd:annotation>
			<xsd:documentation>Информация о ЕСТР карте</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CardNumber" type="CardNumberType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IssueDate" type="xsd:date" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата начала действия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Expiration" type="xsd:date" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата окончания действия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CertInfo" type="CertInfoType"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Информация о сертификате</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="OrderNumberType">
		<xsd:annotation>
			<xsd:documentation>Номер заявления [A-Z]{5}-\d{8} ОВК-Порядковый
				номер формируется в ОВК
				при отправке изготовителю карт, затем
				участвует во всех стадиях информационного
				обмена
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="14" />
			<xsd:pattern value="[A-Z]{5}-\d{8}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="DriverOrderType">
		<xsd:annotation>
			<xsd:documentation>Данные заявления на выдачу карты водителя
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="PersonInfo" type="PersonInfoType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Персональные данные водителя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="PrevCardNumber" type="CardNumberType"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер ранее выданной карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="ContactInfo" minOccurs="0" maxOccurs="1"
				type="ContactInfoType">
				<xsd:annotation>
					<xsd:documentation>Контактная информация</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="DriverLicense" type="DriverLicenseType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные водительского удостоверения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="RegAddress" type="AddressType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Адрес регистрации по месту жительства
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="PostAddress" type="AddressType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Адрес регистрации по паспорту
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Photo" type="AttachmentsType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Фотография</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Sign" type="AttachmentsType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Изображение подписи </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SupervisorOrderType">
		<xsd:annotation>
			<xsd:documentation> Данные заявления на выдачу карты контролера
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OrgInfo" type="OrgInfoType" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Информация о надзорном органе
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="SupervisorInfo" type="LeaderInfoType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные инспектора на которого
						оформляется карта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			

			<xsd:element name="PrevCardNumber" type="CardNumberType"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер ранее выданной карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="SupervisorPosition" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Должность инспектора</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="SupervisorReason" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер и дата приказа назначения на должность
						(руководителя)
						ответственного лица
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="Person" type="PersonSimpleType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> Список сотрудников получающих карты
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="PrevCard" type="CardSimpleType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> Список ранее выданных карт </xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Photo" type="AttachmentsType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Фотография</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Sign" type="AttachmentsType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Изображение подписи инспектора
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="OrgOrderType">
		<xsd:annotation>
			<xsd:documentation> Данные заявления на выдачу карты организации
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		
			<xsd:element name="ResidentRF" type="xsd:boolean" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>true / false - резидент РФ / нерезидент РФ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="OrgInfo" type="OrgInfoType" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Информация об организации </xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="ResponsiblePersonInfo" type="LeaderInfoType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные руководителя(ответственного лица) на
						которого
						оформляется карта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="ResponsiblePersonPosition" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Должность руководителя(ответственного лица) на
						которого
						оформляется карта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="ResponsiblePersonReason" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер и дата приказа назначения на должность
						(руководителя)
						ответственного лица
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Person" type="PersonSimpleType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> Список сотрудников получающих карты
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="PrevCard" type="CardSimpleType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> Список ранее выданных карт </xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Sign" type="AttachmentsType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Изображение подписи руководителя(ответственного
						лица) на которого
						оформляется карта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="OrgInfoType">
		<xsd:annotation>
			<xsd:documentation>Информация об организации</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OrgName" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Наименование</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="OrgNameLat" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Наименование латиницей</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="OrgShortName" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Сокращенное наименование
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="35" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="OrgShortNameLat" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Сокращенное наименование латиницей
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="35" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="MarkNumber" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Номер клейма в формате РФ 9999 (для мастерской)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="7" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="OrgFace" type="xsd:string" maxOccurs="1"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>В лице</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="INN" type="InnType" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ИНН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="OGRN" type="OgrnType" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ОГРН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="KPP" type="KppType" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>КПП</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="ContactInfo" minOccurs="0" maxOccurs="1"
				type="ContactInfoType">
				<xsd:annotation>
					<xsd:documentation>
						Контактная информация
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="AddressPost" type="AddressType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Почтовый адрес
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="AddressLegal" type="AddressType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Юридический адрес
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="AddressActual" type="AddressType"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Фактический адрес
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CardSimpleType">
		<xsd:annotation>
			<xsd:documentation>Информация о ранее выданной карте
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CardNumber" type="CardNumberType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CardExpiration" type="xsd:date"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата окончания действия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameFirst" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Имя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameMiddle" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Отчество</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameLast" type="xsd:string" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Фамилия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="CardNumberType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="16" />
			<xsd:pattern value="RU[DMPK]\d{10}[A-Z0-9]{3}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:complexType name="PersonSimpleType">
		<xsd:annotation>
			<xsd:documentation>Сотрудники </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CardsCount" type="xsd:string"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Количество карт</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameFirst" type="xsd:string"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Имя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameFirstLat" type="xsd:string"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Имя латиницей</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameMiddle" type="xsd:string"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Отчество</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameLast" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Фамилия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameLastLat" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Фамилия латиницей</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Position" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Должность</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegimeOrder" type="xsd:string"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер и дата приказа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonDateOfBirth" type="xsd:date"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Дата рождения </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocName" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Документ, удостоверяющий личность
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PassportSeries" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Серия паспорта </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PersonPassportNumber" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Номер паспорта </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PersonPassportIssuedBy" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Кем выдан паспорт </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PersonPassportDivision" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Код подразделения </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PersonPassportIssuedDate" type="xsd:date"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Дата выдачи паспорта </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrepInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> Информация о прохождении специальной подготовки
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PassportType">
		<xsd:annotation>
			<xsd:documentation>Данные паспорта</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PassportName" type="xsd:string"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Документ, удостоверяющий личность
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PassportSeries" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Серия паспорта </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PassportNumber" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Номер паспорта </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PassportIssuedBy" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Кем выдан паспорт </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PassportDivision" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Код подразделения </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PassportIssuedDate" type="xsd:date"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Дата выдачи паспорта </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DriverLicenseType">
		<xsd:annotation>
			<xsd:documentation>Данные водительского удостоверения
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DriverLicenseNumber" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Номер водительского удостоверения
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DriverLicenseIssuedBy" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Кем выдано </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DriverLicenseCountry" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Страна выдачи удостоверения </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
						<xsd:minLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DriverLicenseIssuedDate" type="xsd:date"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Дата выдачи </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:documentation>Адрес организации</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="FullAddress" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Адрес в одну строку</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="PostCode" type="xsd:int" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Почтовый индекс</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Country" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Страна </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
						<xsd:minLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="RegionRus" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Регион</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="RegionLat" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Регион латиницей</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="District" type="xsd:string" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Район</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="DistrictLat" type="xsd:string" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Район латиницей</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Settlement" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Населенный пункт</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="SettlementLat" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Населенный пункт латиницей</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Street" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Улица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="StreetLat" type="xsd:string"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Улица латиницей</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="House" type="xsd:string" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дом</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Building" type="xsd:string" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Строение/Корпус</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Office" type="xsd:string" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Квартира/Офис</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PersonInfoType">
		<xsd:annotation>
			<xsd:documentation>Персональные данные лица на которое оформляется
				карта
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NameFirst" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Имя</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="NameFirstLat" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Имя латиницей</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="NameMiddle" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Отчество</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="NameMiddleLat" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Отчество латиницей</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="NameLast" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Фамилия</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="NameLastLat" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Фамилия латиницей</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="BirthDate" type="xsd:date" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Resident" type="xsd:string" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Гражданство</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="SNILS" type="SnilsType" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>СНИЛС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="Passport" type="PassportType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные паспорта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


		</xsd:sequence>
	</xsd:complexType>

		<xsd:complexType name="LeaderInfoType">
		<xsd:annotation>
			<xsd:documentation>Данные о руководителе
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NameFirst" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Имя</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="NameFirstLat" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Имя латиницей</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="NameMiddle" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Отчество</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="NameMiddleLat" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Отчество латиницей</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="NameLast" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Фамилия</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="NameLastLat" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Фамилия латиницей</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ContactInfoType">
		<xsd:annotation>
			<xsd:documentation>Контактная информация</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Phone" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Телефон</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[0-9\(\)\-\+ ]+"></xsd:pattern>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="Email" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Электронный адрес
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[^@]+@[^\.]+\..+"></xsd:pattern>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="OtherContactInfo" type="xsd:string"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Другая контактная информация</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="InnType">
		<xsd:annotation>
			<xsd:documentation>ИНН юридического или физического лица РФ
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13" />

		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="OgrnType">
		<xsd:annotation>
			<xsd:documentation>ОГРН (основной государственный регистрационный
				номер)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15" />

		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="KppType">
		<xsd:annotation>
			<xsd:documentation>КПП (код причины постановки на учет)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="9" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="SnilsType">
		<xsd:annotation>
			<xsd:documentation>СНИЛС</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">

		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="BoolType">
		<xsd:annotation>
			<xsd:documentation>Двоичное значение: 0 или 1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean">
			<xsd:pattern value="[0-1]{1}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="AttachmentsType">
		<xsd:annotation>
			<xsd:documentation>Приложение к заявлению</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AttachmentName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Имя файла вложения</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="1024" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AttachmentType" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Тип прикрепленного документа Photo - фотография
						Signature -
						изображение подписи Passport - копия паспорта
						DriverLicense - копия
						водительского удостоверения CardOrder - копия
						заявления на выдачу карты
						тахографа Other - иной тип
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Photo" />
						<xsd:enumeration value="Signature" />
						<xsd:enumeration value="Passport" />
						<xsd:enumeration value="DriverLicense" />
						<xsd:enumeration value="CardOrder" />
						<xsd:enumeration value="Other" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="FileFormat" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Идентификатор формата прикрепленного документа
						DOC -
						Microsoft Word XLS - Microsoft Excel PDF - Adobe PDF JPG -
						jpg PNG - png XML
						- xml OTHER - иной формат(определяется по имени
						файла)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="DOC" />
						<xsd:enumeration value="XLS" />
						<xsd:enumeration value="PDF" />
						<xsd:enumeration value="JPG" />
						<xsd:enumeration value="PNG" />
						<xsd:enumeration value="XML" />
						<xsd:enumeration value="OTHER" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="Description" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Пользовательское описание файла вложения
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1024" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Body" type="xsd:base64Binary">
				<xsd:annotation>
					<xsd:documentation>Данные вложения в двоичном виде
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
