EstrPackage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org/" targetNamespace="http://www.example.org/">
  <xsd:include schemaLocation="common.xsd"/>
  <xsd:element name="EstrPackage" type="EstrPackageType"/>
  <xsd:complexType name="EstrPackageType">
    <xsd:annotation>
      <xsd:documentation>Пакет информационного обмена между ФБУ, ОВК и
				изготовителем ЕСТР карт</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PackageInfo" type="PackageInfoType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Информация о пакете</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:element name="Order" type="OrderType" minOccurs="1" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>Заявление на выдачу ЕСТР карт:
							Отсылается из ОВК изготовителю карт, при этом формируется уникальный номер
							заявления,
							затем изготовителем после проверки данных на возможность изготовления,
							отсылается в ФБУ для формирования номера карты
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CardStatusChangeNotification" type="CardStatusChangeNotificationType" minOccurs="1" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>Уведомление о изменении статусов карт
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="EstrPackageStatusChangeNotification" type="TacPackageStatusChangeNotificationType" minOccurs="1" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation>Уведомление о изменении статуса пакета
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="OrderStatusChangeNotification" type="OrderStatusChangeNotificationType" minOccurs="1" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>Уведомление о изменении статусов заявлений:
							Отсылается изготовителем в ОВК в случае отказа на этапе проверки
							данных либо отказа ФБУ,
							при этом заполняется причина отказа
							Из ФБУ изготовителю карт в случае присвения номеров карт,
							при этом заполняется информация о номерах картах и сроках действия
							карт
							Из ФБУ изготовителю карт в случае отказа на этапе проверки данных,
							при этом заполняется причина отказа
							От изготовителя в ФБУ и ОВК в случае выпуска карт,
							при этом
							заполняется вся информация о картах
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderType">
    <xsd:annotation>
      <xsd:documentation>Заявление на выдачу ЕСТР карты</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OrderNumber" type="OrderNumberType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Номер заявления</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OrderDate" type="xsd:date" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Дата подачи заявления</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OrderKind" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Вид заявления:
						OrderNew - Получение новой карты
						OrderReNew - Замена в связи с истечением срока действия
						OrderReplace - Другая причина замены
						OrderPersonChange - Замена в связи и изменением перс. данных
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="OrderNew"/>
            <xsd:enumeration value="OrderReNew"/>
            <xsd:enumeration value="OrderReplace"/>
            <xsd:enumeration value="OrderPersonChange"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OrderReplaceReason" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Причина замены карты, заполняется если
						OrderKind=OrderReplace</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OrderCardCount" type="xsd:int" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Количество карт</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:element name="DriverOrder" type="DriverOrderType" minOccurs="1" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation> Данные заявления на выдачу карты водителя
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CompanyOrder" type="OrgOrderType" minOccurs="1" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation> Данные заявления на выдачу карт предприятия
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ServiceOrder" type="OrgOrderType" minOccurs="1" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation> Данные заявления на выдачу карт мастерской
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="SupervisorOrder" type="SupervisorOrderType" minOccurs="1" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation> Данные заявления на выдачу карты контролера
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element name="Attachment" type="AttachmentsType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation> Вложения за исключением фотографии/изображения
						подписи
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DriverOrderType">
    <xsd:annotation>
      <xsd:documentation>Данные заявления на выдачу карты водителя
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PersonInfo" type="PersonInfoType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Персональные данные водителя</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrevCardNumber" type="CardNumberType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Номер ранее выданной карты</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContactInfo" minOccurs="0" maxOccurs="1" type="ContactInfoType">
        <xsd:annotation>
          <xsd:documentation>Контактная информация</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DriverLicense" type="DriverLicense_v2Type" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Данные водительского удостоверения
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RegAddress" type="AddressType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Адрес регистрации по месту жительства
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostAddress" type="AddressType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Адрес регистрации по паспорту
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Photo" type="AttachmentsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Фотография</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Sign" type="AttachmentsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Изображение подписи </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupervisorOrderType">
    <xsd:annotation>
      <xsd:documentation> Данные заявления на выдачу карты контролера
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OrgInfo" type="OrgInfoType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Информация о надзорном органе
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SupervisorInfo" type="LeaderInfoType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Данные инспектора на которого
						оформляется карта
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrevCardNumber" type="CardNumberType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Номер ранее выданной карты</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SupervisorPosition" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Должность инспектора</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SupervisorReason" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Номер и дата приказа назначения на должность
						(руководителя)
						ответственного лица
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Person" type="PersonSimpleType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation> Список сотрудников получающих карты
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrevCard" type="CardSimpleType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation> Список ранее выданных карт </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Photo" type="AttachmentsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Фотография</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Sign" type="AttachmentsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Изображение подписи инспектора
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrgOrderType">
    <xsd:annotation>
      <xsd:documentation> Данные заявления на выдачу карты организации
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ResidentRF" type="xsd:boolean" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>true / false - резидент РФ / нерезидент РФ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OrgInfo" type="OrgInfoType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Информация об организации </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResponsiblePersonInfo" type="LeaderInfoType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Данные руководителя(ответственного лица) на
						которого
						оформляется карта
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResponsiblePersonPosition" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Должность руководителя(ответственного лица) на
						которого
						оформляется карта
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResponsiblePersonReason" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Номер и дата приказа назначения на должность
						(руководителя)
						ответственного лица
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Person" type="PersonSimpleType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation> Список сотрудников получающих карты
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrevCard" type="CardSimpleType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation> Список ранее выданных карт </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Sign" type="AttachmentsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Изображение подписи руководителя(ответственного
						лица) на которого
						оформляется карта
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrgInfoType">
    <xsd:annotation>
      <xsd:documentation>Информация об организации</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OrgName" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Наименование</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OrgNameLat" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Наименование латиницей</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OrgShortName" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
						Сокращенное наименование
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OrgShortNameLat" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
						Сокращенное наименование латиницей
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MarkNumber" maxOccurs="1" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
						Номер клейма в формате РФ 9999 (для мастерской)
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="7"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OrgFace" type="xsd:string" maxOccurs="1" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>В лице</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="INN" type="InnType" maxOccurs="1" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>ИНН</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OGRN" type="OgrnType" maxOccurs="1" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>ОГРН</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="KPP" type="KppType" maxOccurs="1" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>КПП</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContactInfo" minOccurs="0" maxOccurs="1" type="ContactInfoType">
        <xsd:annotation>
          <xsd:documentation>
						Контактная информация
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AddressPost" type="AddressType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
						Почтовый адрес
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AddressLegal" type="AddressType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
						Юридический адрес
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AddressActual" type="AddressType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
						Фактический адрес
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonSimpleType">
    <xsd:annotation>
      <xsd:documentation>Сотрудники </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CardsCount" type="xsd:string" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Количество карт</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameFirst" type="xsd:string" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Имя</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameFirstLat" type="xsd:string" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Имя латиницей</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameMiddle" type="xsd:string" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Отчество</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameLast" type="xsd:string" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Фамилия</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NameLastLat" type="xsd:string" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Фамилия латиницей</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Position" type="xsd:string" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Должность</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RegimeOrder" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Номер и дата приказа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PersonDateOfBirth" type="xsd:date" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Дата рождения </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocName" type="xsd:string" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Документ, удостоверяющий личность
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PassportSeries" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Серия паспорта </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PersonPassportNumber" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Номер паспорта </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PersonPassportIssuedBy" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Кем выдан паспорт </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="64"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PersonPassportDivision" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Код подразделения </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PersonPassportIssuedDate" type="xsd:date" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Дата выдачи паспорта </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrepInfo" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Информация о прохождении специальной подготовки
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:documentation>Адрес организации</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FullAddress" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Адрес в одну строку</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostCode" type="xsd:int" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Почтовый индекс</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Country" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation> Страна </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
            <xsd:minLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="RegionRus" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Регион</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RegionLat" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Регион латиницей</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="District" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Район</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DistrictLat" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Район латиницей</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Settlement" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Населенный пункт</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SettlementLat" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Населенный пункт латиницей</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Улица</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StreetLat" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Улица латиницей</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="House" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Дом</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Building" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Строение/Корпус</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Office" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Квартира/Офис</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonInfoType">
    <xsd:annotation>
      <xsd:documentation>Персональные данные лица на которое оформляется
				карта
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="NameFirst" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Имя</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NameFirstLat" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Имя латиницей</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NameMiddle" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Отчество</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NameMiddleLat" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Отчество латиницей</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NameLast" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Фамилия</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NameLastLat" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Фамилия латиницей</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BirthDate" type="xsd:date" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Дата рождения</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Resident" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Гражданство</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SNILS" type="SnilsType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>СНИЛС</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Passport" type="PassportType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Данные паспорта</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LeaderInfoType">
    <xsd:annotation>
      <xsd:documentation>Данные о руководителе
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="NameFirst" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Имя</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NameFirstLat" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Имя латиницей</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NameMiddle" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Отчество</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NameMiddleLat" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Отчество латиницей</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NameLast" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Фамилия</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NameLastLat" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Фамилия латиницей</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
